
Colonymod1/.vs/Colonymod1/FileContentIndex/4a60c318-0711-4c44-aebd-5154bb6ccf07.vsidx
Colonymod1/.vs/Colonymod1/FileContentIndex/read.lock
Colonymod1/Colonymod1/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Colonymod1/Colonymod1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Colonymod1/Colonymod1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Colonymod1/.vs/Colonymod1/v17/.suo
Colonymod1/Colonymod1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
Colonymod1/.vs/Colonymod1/FileContentIndex/e01a7c0f-0515-4be1-b929-83298f3e147b.vsidx
Colonymod1/.vs/Colonymod1/FileContentIndex/9972a549-ab59-45d4-b96f-ad31b3c97bea.vsidx
Colonymod1/.vs/Colonymod1/FileContentIndex/dc8194f5-0c69-4971-b9c7-54043c60e19e.vsidx
Colonymod1/Colonymod1/bin/Debug/james.publicRail.pdb
Colonymod1/Colonymod1/bin/Debug/james.publicRail.pdb
Colonymod1/Colonymod1/obj/Debug/james.publicRail.csproj.FileListAbsolute.txt
*.vsidx
Colonymod1/.vs/Colonymod1/FileContentIndex/a47d4e7e-1363-468b-890f-6047ea4aa1bf.vsidx
*.vsidx
Colonymod1/Colonymod1/obj/Debug/james.publicRail.pdb
*.pdb
